## 인구 현황 시각화

인구 현황을 지도, 카르토그램 시각화

### 데이터 읽기 및 확인

In [1]:
import pandas as pd
import numpy as np

In [2]:
pop = pd.read_excel('D://data/population_02.xlsx')
pop

,Unnamed: 0,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세 이상남자,65세 이상여자,65세 이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,0,강원도,강릉시,26286,23098.0,49384.0,15767.0,21912,37679.0,106231.0,107615,213846.0,1.226041,False
1,1,강원도,고성군,4494,2529.0,7023.0,2900.0,4251,7151.0,15899.0,14215,30114.0,0.707314,True
2,2,강원도,동해시,11511,9753.0,21264.0,6392.0,8732,15124.0,47166.0,46131,93297.0,1.289738,False
3,3,강원도,삼척시,8708,7115.0,15823.0,5892.0,8718,14610.0,35253.0,34346,69599.0,0.973990,True
4,4,강원도,속초시,9956,8752.0,18708.0,5139.0,7613,12752.0,40288.0,41505,81793.0,1.372647,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,충청북도,진천군,9391,7622.0,17013.0,4731.0,6575,11306.0,36387.0,33563,69950.0,1.348311,False
260,260,충청북도,청원구,32216,27805.0,60021.0,8417.0,11914,20331.0,97006.0,93807,190813.0,2.735232,False
261,261,충청북도,청주시,128318,115719.0,244037.0,37882.0,53671,91553.0,419323.0,415874,835197.0,2.527913,False
262,262,충청북도,충주시,26600,22757.0,49357.0,14407.0,20383,34790.0,104877.0,103473,208350.0,1.308249,False
263,263,충청북도,흥덕구,40933,37675.0,78608.0,9788.0,13671,23459.0,127647.0,125916,253563.0,3.211987,False

In [3]:
del pop['Unnamed: 0']
pop

,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세 이상남자,65세 이상여자,65세 이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,강원도,강릉시,26286,23098.0,49384.0,15767.0,21912,37679.0,106231.0,107615,213846.0,1.226041,False
1,강원도,고성군,4494,2529.0,7023.0,2900.0,4251,7151.0,15899.0,14215,30114.0,0.707314,True
2,강원도,동해시,11511,9753.0,21264.0,6392.0,8732,15124.0,47166.0,46131,93297.0,1.289738,False
3,강원도,삼척시,8708,7115.0,15823.0,5892.0,8718,14610.0,35253.0,34346,69599.0,0.973990,True
4,강원도,속초시,9956,8752.0,18708.0,5139.0,7613,12752.0,40288.0,41505,81793.0,1.372647,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,충청북도,진천군,9391,7622.0,17013.0,4731.0,6575,11306.0,36387.0,33563,69950.0,1.348311,False
260,충청북도,청원구,32216,27805.0,60021.0,8417.0,11914,20331.0,97006.0,93807,190813.0,2.735232,False
261,충청북도,청주시,128318,115719.0,244037.0,37882.0,53671,91553.0,419323.0,415874,835197.0,2.527913,False
262,충청북도,충주시,26600,22757.0,49357.0,14407.0,20383,34790.0,104877.0,103473,208350.0,1.308249,False
263,충청북도,흥덕구,40933,37675.0,78608.0,9788.0,13671,23459.0,127647.0,125916,253563.0,3.211987,False

In [10]:
pop['20-39세남자'] = pop['20-39세남자'].astype('float')
pop['인구수여자'] = pop['인구수여자'].astype('float')

In [11]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   광역시도      264 non-null    object
 1   시도        264 non-null    object
 2   20-39세남자  264 non-null    float64
 3   20-39세여자  264 non-null    float64
 4   20-39세합계  264 non-null    float64
 5   65세 이상남자  264 non-null    float64
 6   65세 이상여자  264 non-null    int64
 7   65세 이상합계  264 non-null    float64
 8   인구수남자     264 non-null    float64
 9   인구수여자     264 non-null    float64
 10  인구수합계     264 non-null    float64
 11  소멸비율      264 non-null    float64
 12  소멸위기지역    264 non-null    bool
dtypes: bool(1), float64(9), int64(1), object(2)
memory usage: 25.1+ KB

In [12]:
pop['시도'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '권선구', '기흥구',
       '김포시', '남양주시', '단원구', '덕양구', '동두천시', '동안구', '만안구', '부천시', '분당구',
       '상록구', '성남시', '소사구', '수원시', '수정구', '수지구', '시흥시', '안산시', '안성시',
       '안양시', '양주시', '양평군', '여주시', '연천군', '영통구', '오산시', '오정구', '용인시',
       '원미구', '의왕시', '의정부시', '이천시', '일산동구', '일산서구', '장안구', '중원구', '처인구',
       '파주시', '팔달구', '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시',
       '남해군', '마산합포구', '마산회원구', '밀양시', '사천시', '산청군', '성산구', '양산시', '의령군',
       '의창구', '진주시', '진해구', '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군',
       '합천군', '경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '남구', '문경시',
       '봉화군', '북구', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시',
       '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시', '광산구',
       '동구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구', '강서구', '금정구',
       '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구', '해운대구',
       '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구',
       '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종특별자치시', '울주군', '강화군', '계양구',
       '남동구', '부평구', '연수구', '옹진군', '강진군', '고흥군', '곡성군', '광양시', '구례군',
       '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군',
       '군산시', '김제시', '남원시', '덕진구', '무주군', '부안군', '순창군', '완산구', '완주군',
       '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시',
       '공주시', '금산군', '논산시', '당진시', '동남구', '보령시', '부여군', '서북구', '서산시',
       '서천군', '아산시', '예산군', '천안시', '청양군', '태안군', '홍성군', '괴산군', '단양군',
       '보은군', '상당구', '서원구', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군',
       '청원구', '청주시', '충주시', '흥덕구'], dtype=object)

### 지도 ID 생성

#### 구 이름이 겹치는 상황이 있으니 시:구 형태로 재생성

In [13]:
si_name = [None] * len(pop)

tmp_gu_dict = {
    '수원':['장안구','권선구','팔달구','영통구'],
    '성남':['수정구','중원구','분당구'],
    '안양':['만안구','동안구'],
    '안산':['상록구','단원구'],
    '고양':['덕양구','일산동구','일산서구'],
    '용인':['처인구','기흥구','수지구'],
    '청주':['상당구','서원구','흥덕구','청원구'],
    '천안':['동남구','서북구'],
    '전주':['완산구','덕진구'],
    '포항':['남구','북구'],
    '창원':['의창구','성산구','진해구','마산합포구','마산회원구'],
    '부천':['오정구','원미구','소사구']
}

In [14]:
pop.head()

,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세 이상남자,65세 이상여자,65세 이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,강원도,강릉시,26286.0,23098.0,49384.0,15767.0,21912,37679.0,106231.0,107615.0,213846.0,1.226041,False
1,강원도,고성군,4494.0,2529.0,7023.0,2900.0,4251,7151.0,15899.0,14215.0,30114.0,0.707314,True
2,강원도,동해시,11511.0,9753.0,21264.0,6392.0,8732,15124.0,47166.0,46131.0,93297.0,1.289738,False
3,강원도,삼척시,8708.0,7115.0,15823.0,5892.0,8718,14610.0,35253.0,34346.0,69599.0,0.973990,True
4,강원도,속초시,9956.0,8752.0,18708.0,5139.0,7613,12752.0,40288.0,41505.0,81793.0,1.372647,False

In [15]:
pop['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

#### 일반 시의 이름과 세종시, 그리고 광역시도의 일반 구 정리

강릉시 > 강릉  
춘천시 > 춘천  

이런식으로

In [17]:
for idx, row in pop.iterrows():
    if row['광역시도'][-3:] not in ['광역시', '특별시','자치시']:
        si_name[idx] = row['시도'][:-1]
    elif row['광역시도'] == '세종특별자치시':
        si_name[idx] = '세종'
    else:
        if len(row['시도']) == 2:
            si_name[idx] = row['광역시도'][:2] + '' + row['시도']
        else:
            si_name[idx] = row['광역시도'][:2] + '' + row['시도'][:-1]

In [18]:
pop.head()

,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세 이상남자,65세 이상여자,65세 이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,강원도,강릉시,26286.0,23098.0,49384.0,15767.0,21912,37679.0,106231.0,107615.0,213846.0,1.226041,False
1,강원도,고성군,4494.0,2529.0,7023.0,2900.0,4251,7151.0,15899.0,14215.0,30114.0,0.707314,True
2,강원도,동해시,11511.0,9753.0,21264.0,6392.0,8732,15124.0,47166.0,46131.0,93297.0,1.289738,False
3,강원도,삼척시,8708.0,7115.0,15823.0,5892.0,8718,14610.0,35253.0,34346.0,69599.0,0.973990,True
4,강원도,속초시,9956.0,8752.0,18708.0,5139.0,7613,12752.0,40288.0,41505.0,81793.0,1.372647,False

#### 행정구 다시 계산

In [19]:
for idx, row in pop.iterrows():
    if row['광역시도'][-3:] not in ['광역시', '특별시', '자치시']:
        for keys, values in tmp_gu_dict.items():
            if row['시도'] in values:
                if len(row['시도']) == 2:
                    si_name[idx] = keys + '' + row['시도']
                elif row['시도'] in ['마산합포구', '마산회원구']:
                    si_name[idx] = keys + '' + row['시도'][2:-1]
                else:
                    si_name[idx] = keys + '' + row['시도'][:-1]

#### 고성이 강원도랑 경상남도에 둘 다 있어서 다시 계산

In [22]:
for idx, row in pop.iterrows():
    if row['광역시도'][-3:] not in ['광역시','특별시','자치시']:
        if row['시도'][:-1] == '고성' and row['광역시도'] == '강원도':
            si_name[idx] = '고성(강원)'
        elif row['시도'][:-1] == '고성' and row['광역시도'] == '경상남도':
            si_name[idx] = '고성(경남)'

In [23]:
pop['ID'] = si_name

In [24]:
del pop['20-39세남자']
del pop['65세 이상남자']
del pop['65세 이상여자']

pop.head()

,광역시도,시도,20-39세여자,20-39세합계,65세 이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역,ID
0,강원도,강릉시,23098.0,49384.0,37679.0,106231.0,107615.0,213846.0,1.226041,False,강릉
1,강원도,고성군,2529.0,7023.0,7151.0,15899.0,14215.0,30114.0,0.707314,True,고성(강원)
2,강원도,동해시,9753.0,21264.0,15124.0,47166.0,46131.0,93297.0,1.289738,False,동해
3,강원도,삼척시,7115.0,15823.0,14610.0,35253.0,34346.0,69599.0,0.973990,True,삼척
4,강원도,속초시,8752.0,18708.0,12752.0,40288.0,41505.0,81793.0,1.372647,False,속초