## Python - DATABASE 연동

In [9]:
import mysql.connector

### AWS DATABASE 접속

In [6]:
remote = mysql.connector.connect(
    host =  'database-1.cqnasggwhvrs.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user ='admin',
    password = '*********',
    database = 'zerobase'
    
)

### AWS DATABASE에 TABLE 생성

In [7]:
cur = remote.cursor()
cur.execute('create table sql_file (id int, filename varchar(16))')

remote.close()

### AWS DATABASE TABLE 삭제

In [11]:
cur = remote.cursor()
cur.execute('drop table sql_file')

remote.close()

### SQL 파일 실행

In [14]:
cur = remote.cursor()
sql = open('D:/sql_ws/test03.sql').read()
cur.execute(sql)

remote.close()

### SQL 파일 내에 쿼리가 여러개

In [16]:
cur = remote.cursor()
sql = open('D:/sql_ws/test04.sql').read()
for result in cur.execute(sql, multi=True):
    if result.with_rows:
        print(result.fetchall())
    else:
        print(result.statement)

remote.commit()
remote.close()

insert into sql_file values (1, 'test01.sql')
insert into sql_file values (2, 'test02.sql')
insert into sql_file values (3, 'test03.sql')
insert into sql_file values (4, 'test04.sql')

#### Fetch All() - 결과를 한꺼번에 배열로 반환

In [18]:
# 읽어올 데이터 양이 많은 경우 buffered = True 
cur = remote.cursor(buffered=True)
cur.execute('select * from sql_file')

result = cur.fetchall()
for result_iterator in result:
    print(result_iterator)

remote.close()

(1, 'test01.sql')
(2, 'test02.sql')
(3, 'test03.sql')
(4, 'test04.sql')

In [19]:
import pandas as pd

df = pd.DataFrame(result)
df.head()

   0           1
0  1  test01.sql
1  2  test02.sql
2  3  test03.sql
3  4  test04.sql