## 유가 분석

### 유가 사이트 알아보기

In [2]:
from selenium import webdriver

driver = webdriver.Chrome('D:/ds_study/driver/chromedriver.exe')
driver.get('http://www.opinet.co.kr') # 주유소 가격 정보 사이트

In [5]:
# 페이지 전환이 안될 때 실행
# driver.get('http://www.opinet.co.kr/searRgSelect.do')

In [8]:
# 광역시도 선택 구간
# id 넣어서 실행
sido_list_raw = driver.find_element_by_id('SIDO_NM0')
sido_list_raw

??

In [10]:
# id가 있던 태그 내부의 option 태그 확인
sido_list = sido_list_raw.find_elements_by_tag_name('option')
sido_list

[<selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_234")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_242")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_246")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_250")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_254")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_258")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_262")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_266")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_270")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_278")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_286")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_290")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_294")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bf32e7d91bfd3d44953ab1142261f4b3", element="CD328401F40BE142BB505D977B253E63_element_298")>]

??? 원하는 결과값이 전혀 아니다

In [11]:
# 광역시도 이름 확인
sido_names = [option.get_attribute('value') for option in sido_list]
sido_names.remove('')
sido_names

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [13]:
# 박스 내용 바꾸기
# sido_names에서 가져와서 시도
sido_list_raw.send_keys(sido_names[0]) # 서울

In [14]:
# 시군구도 동일하게
# 시군구 id = SIGUNGU_NM0
gu_list_raw = driver.find_element_by_id('SIGUNGU_NM0')
gu_list = gu_list_raw.find_elements_by_tag_name('option')

gu_names = [option.get_attribute('value') for option in gu_list]
gu_names.remove('')
gu_names

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

### 데이터 저장

In [16]:
# 엑셀 저장
import time
from tqdm import tqdm_notebook

for gu in tqdm_notebook(gu_names):
    element = driver.find_element_by_id('SIGUNGU_NM0')
    element.send_keys(gu)
    time.sleep(2)
    
    element_get_excel = driver.find_element_by_id('glopopd_excel').click()
    time.sleep(1)

<ipython-input-16-d7eacd6e36ab>:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for gu in tqdm_notebook(gu_names):

  0%|          | 0/25 [00:00<?, ?it/s]

In [17]:
driver.close()

### 다운받은 데이터 정리

In [18]:
import pandas as pd
from glob import glob

In [20]:
# 파일 불러오기
station_files = glob('D:/data/지역_*.xls')
station_files

['D:/data\\지역_위치별(주유소) (1).xls',
 'D:/data\\지역_위치별(주유소) (10).xls',
 'D:/data\\지역_위치별(주유소) (11).xls',
 'D:/data\\지역_위치별(주유소) (12).xls',
 'D:/data\\지역_위치별(주유소) (13).xls',
 'D:/data\\지역_위치별(주유소) (14).xls',
 'D:/data\\지역_위치별(주유소) (15).xls',
 'D:/data\\지역_위치별(주유소) (16).xls',
 'D:/data\\지역_위치별(주유소) (17).xls',
 'D:/data\\지역_위치별(주유소) (18).xls',
 'D:/data\\지역_위치별(주유소) (19).xls',
 'D:/data\\지역_위치별(주유소) (2).xls',
 'D:/data\\지역_위치별(주유소) (20).xls',
 'D:/data\\지역_위치별(주유소) (21).xls',
 'D:/data\\지역_위치별(주유소) (22).xls',
 'D:/data\\지역_위치별(주유소) (23).xls',
 'D:/data\\지역_위치별(주유소) (24).xls',
 'D:/data\\지역_위치별(주유소) (3).xls',
 'D:/data\\지역_위치별(주유소) (4).xls',
 'D:/data\\지역_위치별(주유소) (5).xls',
 'D:/data\\지역_위치별(주유소) (6).xls',
 'D:/data\\지역_위치별(주유소) (7).xls',
 'D:/data\\지역_위치별(주유소) (8).xls',
 'D:/data\\지역_위치별(주유소) (9).xls',
 'D:/data\\지역_위치별(주유소).xls']

In [26]:
# 파일 확인
tmp = pd.read_excel(station_files[5], header=2)
tmp.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,만남의광장주유소,서울 서초구 양재대로12길 73-71,알뜰(ex),02-573-7430,Y,-,1523,1336,-
1,서울특별시,양재최고주유소,서울 서초구 매헌로 72 (양재동),S-OIL,02-2057-5189,N,-,1595,1455,-
2,서울특별시,서초하이웨이 주유소,서울 서초구 양재대로2길 100-30,S-OIL,02-577-5151,Y,1767,1597,1457,-
3,서울특별시,에쓰오일(주)직영 오토테크주유소,서울특별시 서초구 효령로 356 (서초동),S-OIL,02-585-5189,Y,1809,1609,1529,-
4,서울특별시,한독주유소,서울 서초구 방배로 218 (방배동),GS칼텍스,02-3477-6127,Y,1818,1611,1516,-

In [27]:
# 여러개의 파일 하나로 합치기
# 형식이 동일하고 그냥 이어붙이기만 할 때는 concat
tmp_raw = []

for file_name in station_files:
    tmp = pd.read_excel(file_name, header=2)
    tmp_raw.append(tmp)

station_raw = pd.concat(tmp_raw)

In [28]:
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 442 entries, 0 to 33
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      442 non-null    object
 1   상호      442 non-null    object
 2   주소      442 non-null    object
 3   상표      442 non-null    object
 4   전화번호    442 non-null    object
 5   셀프여부    442 non-null    object
 6   고급휘발유   442 non-null    object
 7   휘발유     442 non-null    int64
 8   경유      442 non-null    int64
 9   실내등유    442 non-null    object
dtypes: int64(2), object(8)
memory usage: 38.0+ KB

In [29]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),현대오일뱅크,02-487-2030,Y,-,1569,1439,-
1,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1594,1485,-
2,서울특별시,(주)소모 신월주유소,서울 강동구 양재대로 1323 (성내동),GS칼텍스,02-6956-6674,Y,1846,1616,1508,1590
3,서울특별시,대성석유(주)길동주유소,서울 강동구 천호대로 1168,GS칼텍스,02-474-7222,N,1875,1626,1498,1600
4,서울특별시,명일주유소,서울 강동구 고덕로 168 (명일동),자가상표,02-3428-1739,Y,1829,1629,1499,-

In [30]:
# 데이터프레임 제작
station = pd.DataFrame({'상호':station_raw['상호'],
                       '주소':station_raw['주소'],
                       '가격':station_raw['휘발유'],
                       '셀프':station_raw['셀프여부'],
                       '상표':station_raw['상표']
                       }
                       )
station.head()

                     상호                            주소    가격 셀프      상표
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1569  Y  현대오일뱅크
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1594  N  현대오일뱅크
2           (주)소모 신월주유소        서울 강동구 양재대로 1323 (성내동)  1616  Y   GS칼텍스
3          대성석유(주)길동주유소              서울 강동구 천호대로 1168  1626  N   GS칼텍스
4                 명일주유소          서울 강동구 고덕로 168 (명일동)  1629  Y    자가상표

In [31]:
station['구'] = [eachAddress.split()[1] for eachAddress in station['주소']]
station.head()

                     상호                            주소    가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1569  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1594  N  현대오일뱅크  강동구
2           (주)소모 신월주유소        서울 강동구 양재대로 1323 (성내동)  1616  Y   GS칼텍스  강동구
3          대성석유(주)길동주유소              서울 강동구 천호대로 1168  1626  N   GS칼텍스  강동구
4                 명일주유소          서울 강동구 고덕로 168 (명일동)  1629  Y    자가상표  강동구

In [32]:
station['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '강남구'], dtype=object)

In [33]:
# 수치적 연산을 위해 float 형으로 변경  
station['가격'] = station['가격'].astype('float')

In [34]:
station

                      상호                            주소      가격 셀프      상표    구
0   재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1569.0  Y  현대오일뱅크  강동구
1                 구천면주유소         서울 강동구 구천면로 357 (암사동)  1594.0  N  현대오일뱅크  강동구
2            (주)소모 신월주유소        서울 강동구 양재대로 1323 (성내동)  1616.0  Y   GS칼텍스  강동구
3           대성석유(주)길동주유소              서울 강동구 천호대로 1168  1626.0  N   GS칼텍스  강동구
4                  명일주유소          서울 강동구 고덕로 168 (명일동)  1629.0  Y    자가상표  강동구
..                   ...                           ...     ... ..     ...  ...
29         ㈜새서울석유 새서울주유소               서울 강남구 압구정로 154  2188.0  N  현대오일뱅크  강남구
30               갤러리아주유소               서울 강남구 압구정로 426  2275.0  N   SK에너지  강남구
31               SK논현주유소          서울 강남구 논현로 747 (논현동)  2355.0  N   SK에너지  강남구
32   (주)제이제이네트웍스 제이제이주유소                서울 강남구 언주로 716  2398.0  N  현대오일뱅크  강남구
33        (주)만정에너지 삼보주유소         서울 강남구 봉은사로 433 (삼성동)  2578.0  N   GS칼텍스  강남구

[442 rows x 6 columns]

In [35]:
station.reset_index(inplace=True)
station

,index,상호,주소,가격,셀프,상표,구
0,0,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),1569.0,Y,현대오일뱅크,강동구
1,1,구천면주유소,서울 강동구 구천면로 357 (암사동),1594.0,N,현대오일뱅크,강동구
2,2,(주)소모 신월주유소,서울 강동구 양재대로 1323 (성내동),1616.0,Y,GS칼텍스,강동구
3,3,대성석유(주)길동주유소,서울 강동구 천호대로 1168,1626.0,N,GS칼텍스,강동구
4,4,명일주유소,서울 강동구 고덕로 168 (명일동),1629.0,Y,자가상표,강동구
...,...,...,...,...,...,...,...
437,29,㈜새서울석유 새서울주유소,서울 강남구 압구정로 154,2188.0,N,현대오일뱅크,강남구
438,30,갤러리아주유소,서울 강남구 압구정로 426,2275.0,N,SK에너지,강남구
439,31,SK논현주유소,서울 강남구 논현로 747 (논현동),2355.0,N,SK에너지,강남구
440,32,(주)제이제이네트웍스 제이제이주유소,서울 강남구 언주로 716,2398.0,N,현대오일뱅크,강남구
441,33,(주)만정에너지 삼보주유소,서울 강남구 봉은사로 433 (삼성동),2578.0,N,GS칼텍스,강남구

In [36]:
del station['index']
station.head()

                     상호                            주소      가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1569.0  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1594.0  N  현대오일뱅크  강동구
2           (주)소모 신월주유소        서울 강동구 양재대로 1323 (성내동)  1616.0  Y   GS칼텍스  강동구
3          대성석유(주)길동주유소              서울 강동구 천호대로 1168  1626.0  N   GS칼텍스  강동구
4                 명일주유소          서울 강동구 고덕로 168 (명일동)  1629.0  Y    자가상표  강동구